body{
    background-color: rgb(196, 196, 196);
    margin: 0 20px;
}

#containerShppingListInput{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#shoppingListInput{
    height: 30px;
    width: 200px;    
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
}

#shoppingListInput:focus{
    outline: solid 2px rgb(118, 118, 118);
    box-shadow: 1.5px 1.5px;
}

#addToListButton{
    cursor: pointer;
    padding: 15px 32px;
    border-style: none;
    border-radius: 50px;
    color: rgb(253, 253, 253);
    background-color: rgb(151, 151, 151);
    font-size: 20px;
    box-shadow: 4px 4px rgb(132, 132, 132);
    margin-left: 20px;
}

#addToListButton:active{
    box-shadow: 2px 2px rgb(71, 70, 70);
    transform: translateY(2px);
    opacity: 0.87;
}

#alert{
    font-size: 20px;
    background-color: rgb(252, 157, 125);
    padding: 10px;
    border-radius: 3px;
}

#containerShoppingListDisplay{
    background-color: rgb(245, 215, 158);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    text-align: right;
    padding: 20px;

}

.inputValue{
    font-size: 20px;
    
}

.deleteButton, .tickButton{
    display: inline-block;
    text-align: center;
    margin-left: 6px;
    background-color: rgb(193, 148, 59);
    color: white;
    font-size: 20px;
    border-style: none;
    border-radius: 50px;
    padding: 15px 32px;
    box-shadow: 4px 4px rgb(132, 132, 132);
    cursor: pointer;
    
}

.deleteButton:active, .tickButton:active{
    box-shadow: 2px 2px rgb(71, 70, 70);
    transform: translateY(2px);
    opacity: 0.87;
} 

#generateButtonDiv{
    text-align: center;
    margin: 50px 0px;
    font-size: 20px;
}

#notes{
    font-size: 16px;
}

#generateButton{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: rgb(81, 205, 118);
    border-style: none;
    box-shadow: 4px 4px rgb(65, 65, 65);
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 1px;

}

#generateButton:hover{
    opacity: 0.87;
}

#generateButton:active{
    background-color: rgb(81, 205, 118);
    box-shadow: 2px 2px rgb(65, 65, 65);
    transform: translateY(2px);
}

.content{
    display: none;
}

.collapse{
    display: block;
}

.iframe{
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    border-style: solid;
}

.collapseButton{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: rgb(166, 166, 166);
    border-style: none;
    box-shadow: 4px 4px rgb(65, 65, 65);
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 1px;

}

.collapseButton:hover{
    background-color: rgb(114, 114, 114);
}

.collapseButton:active{
    background-color: rgb(114, 114, 114);
    box-shadow: 2px 2px rgb(65, 65, 65);
    transform: translateY(2px);
}

.active{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: rgb(114, 114, 114);
    border-style: none;
    box-shadow: 2px 2px rgb(65, 65, 65);
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-weight: bold;
} 